<script setup lang="ts">

import { provide, ref } from 'vue';
import { RouterLink, RouterView } from 'vue-router'
import MainAppBar from './components/MainAppBar.vue';
import MainMenuVue from './components/icons/MainMenu.vue';
const rail = ref(true)
const drawer = ref(true)

provide('rail', rail)
provide('drawer', drawer)
</script>


<template>
  <v-layout class="rounded rounded-md">
    <!-- appbar -->
    <MainAppBar></MainAppBar>
    <!-- navigation drawer -->
    <MainMenuVue></MainMenuVue>

    <v-main class="d-flex align-center justify-center" style="min-height: 300px;">
      <div class="pa-16 ">
        <router-view />
      </div>

    </v-main>
  </v-layout>
</template>

<style scoped></style>
